<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet' href='/assets/semantic.css' />
  <link rel='stylesheet' href='/assets/style.css' />

  <script type="text/javascript" src="/assets/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="/assets/semantic.js"></script>
  <script type="text/javascript" src="/assets/index.js"></script>
  <title>
      Twitter Search Engine
  </title>
</head>

<body style="background-color:#FAFAFA;">
  <div class="ui fluid container">
    <div id="content" class="ui sixteen wide column centered page grid">
      <div class="sixteen wide column">
        <div class="ui raised segment">
          <div class="ui gray ribbon label">
            Lightweight Twitter Search Engine
          </div>
        </div>
      </div>
      <div id="main_form" class="sixteen wide column">
        <div class="ui action left icon input">
          <i class="twitter icon"></i>
          <input id="searchInput" placeholder="Search..." type="text">
          <div id="searchButton" class="ui teal button">
            Search
          </div>
        </div>

        <table id="tweetTable" class="ui celled padded table">
          <thead>
            <tr>
              <th class="single line">#</th>
              <th class="single line">Tweets</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

        <div id="statistics" class="ui inverted segment">
          <div class="ui inverted statistic">
            <div class="value">
            </div>
            <div class="label">
            </div>
          </div>
          <div class="ui red inverted statistic">
            <div class="value">
            </div>
            <div class="label">
            </div>
          </div>
          <div class="ui orange inverted statistic">
            <div class="value">
            </div>
            <div class="label">
            </div>
          </div>
          <div class="ui yellow inverted statistic">
            <div class="value">
            </div>
            <div class="label">
            </div>
          </div>
          <div class="ui olive inverted statistic">
            <div class="value">
            </div>
            <div class="label">
            </div>
          </div>
          <div class="ui green inverted statistic">
            <div class="value">
            </div>
            <div class="label">
            </div>
          </div>
          <div class="ui teal inverted statistic">
            <div class="value">
            </div>
            <div class="label">
            </div>
          </div>
          <div class="ui blue inverted statistic">
            <div class="value">
            </div>
            <div class="label">
            </div>
          </div>
          <div class="ui violet inverted statistic">
            <div class="value">
            </div>
            <div class="label">
            </div>
          </div>
          <div class="ui purple inverted statistic">
            <div class="value">
            </div>
            <div class="label">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer" class="sticky-footer">
  </div>

</body>
</html>
